<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Eriver.GUIServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <Eriver.GUIServer.Properties.Settings>
            <setting name="TrackerType" serializeAs="String">
                <value>Tobii</value>
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>290</value>
            </setting>
            <setting name="TrackerDeltaX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrackerDeltaY" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TrackerDeltaZ" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TrackerDeltaAngle" serializeAs="String">
                <value>2</value>
            </setting>
        </Eriver.GUIServer.Properties.Settings>
    </userSettings>
</configuration>
